@page "/"


<PageTitle>Home</PageTitle>

<MudStack Class="px-2 py-2">

    <h1>Hello!</h1>

    <p>
        This example project is a simplified CMMS software (computerized maintenance management system) which
        is used to track equipment and parts. The example pregenerates a simple sortation conveyor system for a
        BHS (baggage handling system) and some common parts for conveyor. The example has two pages, assets and
        parts.
    </p>

    <p>
        The assets page allows the user to add/edit/delete assets. Assets can be arrange in a hierarchy manner
        and an asset either represents important equipment in the system, an area for inventory storage or a 
        logical grouping for the children underneath it. Basic information can be entered about the asset and
        for equipment assets, the asset can taken offline or put back online. Also, the user can add/edit/delete
        storage locations for an area asset.
    </p>

    <p>
        The parts page allows the user to add/edit/delete parts used for maintenance purposes on the equipment
        assets the CMMS keeps track of. Basic information can be entered about the part. Also, the user can
        add/edit/delete part inventory associated with a storage location of an area asset.
    </p>

</MudStack>
